@{
}

@model Lab1.Models.OperatorModels.OperatorProfileModel

<form asp-action="LogOut" asp-controller="User" asp-anti-forgery="true">
    <input type="submit" value="Выйти">
</form>

<h1>@Model.BankName</h1>
<h2>Профиль оператора</h2>
<p>Email: @Model.Email</p>
<p>Имя: @Model.FirstName</p>
<p>Фамилия: @Model.LastName</p>
<p>Отчество: @Model.Patronymic</p>
<p>Номер телефона: @Model.PhoneNumber</p>

<form asp-action="SalaryApprovings" asp-controller="Operator" asp-anti-forgery="true">
    <input type="submit" value="Заявки на заработный проект">
</form>

<form asp-action="Clients" asp-controller="Operator" asp-anti-forgery="true">
    <input type="submit" value="История переводов средств клиентов">
</form>
