@{
}

@model Lab1.Models.SpecialistModels.SpecialistProfileModel;

<form asp-action="LogOut" asp-controller="User" asp-anti-forgery="true">
    <input type="submit" value="Выйти">
</form>

<h1>@Model.BankName</h1>
<h2>Профиль специалиста</h2>
<p>Email: @Model.Email</p>
<p>Имя: @Model.FirstName</p>
<p>Фамилия: @Model.LastName</p>
<p>Отчество: @Model.Patronymic</p>
<p>Номер телефона: @Model.PhoneNumber</p>
<p>Предприятие: @Model.CompanyName</p>

<form asp-action="SalaryApprovings" asp-controller="Specialist" asp-anti-forgery="true">
    <input type="submit" value="Заявки на заработный проект">
</form>

<form asp-action="Open" asp-controller="Balance" asp-anti-forgery="true" method="get">
    <input type="submit" value="Открыть счет">
</form>

@if (Model.Balances.Any())
{
    <table cellpadding="10">
        <caption>Список счетов</caption>
        <tr>
            <th>Название</th>
            <th>Сумма</th>
        </tr>
        @foreach (var balance in Model.Balances)
        {
            <tr>
                <td>@balance.Name</td>
                <td>@balance.Money</td>
                <td>
                    <form asp-action="Close" asp-controller="Balance" asp-anti-forgery="true" method="get">
                        <input type="hidden" name="balanceId" value="@balance.Id" />
                        <input type="submit" value="Закрыть счет">
                    </form>
                </td>
                <td>
                    <form asp-action="Transfer" asp-controller="Balance" asp-anti-forgery="true" method="get">
                        <input type="hidden" name="balanceId" value="@balance.Id" />
                        <input type="submit" value="Перевести сумму на другой счет">
                    </form>
                </td>
                <td>
                    <form asp-action="Add" asp-controller="Balance" asp-anti-forgery="true" method="get">
                        <input type="hidden" name="balanceId" value="@balance.Id" />
                        <input type="submit" value="Пополнить счет">
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>У вас ещё нет счетов</p>
}
