@{
}

@model Lab1.Models.AdminModels.GetDepositActionsAdminModel

<form asp-action="Clients" asp-controller="Admin" asp-anti-forgery="true">
    <input type="submit" value="Назад">
</form>

@if (Model.Actions.Any())
{
    <table cellpadding="10" border="1">
        <caption>Снятия денег с вкладов</caption>
        <tr>
            <th>Время</th>
            <th>Клиент</th>
            <th>Сумма</th>
            <th>Процент</th>
            <th>Снятая сумма</th>
            <th>Время открытия вклада</th>
            <th>Время закрытия вклада</th>
        </tr>
        @foreach (var action in Model.Actions)
        {
            <tr>
                <td>@action.Time</td>
                <td>@action.UserEmail</td>
                <td>@action.Money</td>
                <td>@action.Percent</td>
                <td>@action.MoneyWithPercent</td>
                <td>@action.OpenedTime</td>
                <td>@action.ClosedTime</td>
                @if (!action.Canceled)
                {
                    <td>
                        <form asp-action="CancelGetDepositAction" asp-controller="Admin" asp-anti-forgery="true">
                            <input type="hidden" name="actionId" value="@action.Id" />
                            <input type="submit" value="Отменить">
                        </form>
                    </td>
                }
                else
                {
                    <td>Отменено @action.CancelTime</td>
                }
            </tr>
        }
    </table>
}
else
{
    <p>Снятий денег с вкладов нет</p>
}
